
@model List<Gokhan_Selale_Project.Models.KursKayitlar>
@{
    ViewBag.Title = "KursKayitlari";
}

<h2>KursKayitlari</h2>
<br />
<input id="ekle" type="submit" value="Kurs Kayıt Ekle" onclick="location.href='@Url.Action("KursKayitEkle","Home")'" /><br />

<div class="row">
    <div class="col-md-6">
@foreach (var item in Model)
{
    <div style="border-radius:10px; background-color:#eeeeee; padding:10px; margin:5px">
       
                <h3>@item.Kurslar.KursAd</h3>
                <strong>Kayit Olan Kişi Sayısı: @item.GelenKisiSayisi</strong><br />
                <strong>Kayit Tarihi: @item.Tarih</strong>
          
            @*@Html.Raw(@m.KursAd)*@
            @*<strong>Tarih : @m.Tarih</strong>*@
            
                @*@Html.RenderAction("GrafikselGosterim",)*@
                @Html.ActionLink("Kurs Kayıt Düzenle", "KursKayitGuncelle", new { id = item.ID }) |
                @Html.ActionLink("Kurs Kayıt Sil", "KursKayitSil", new { id = item.ID }, new { onclick = "return confirm('Kursu silme istediğinizden emin misiniz ?');" })
          
 </div>
 }
    </div>
    
</div>
@*<div class="form-horizontal">
        <h4>KursKayitlar</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.GelenKisiSayisi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GelenKisiSayisi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GelenKisiSayisi, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Tarih, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tarih, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tarih, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-default" />
            </div>
        </div>
    </div>*@
